<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 로그 레벨별 색상 설정 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <!-- 로그 패턴 설정 + MDC 포함 -->
    <property name="LOG_PATTERN" value="%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %clr(%-5level) %-36logger{36} [%X{requestId} | %X{requestMethod} | %X{requestUri}] - %msg%n"/>

    <!-- 콘솔 출력만 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 (INFO 레벨 이상, 콘솔만 출력) -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>